In [8]:
import quandl
import pandas as pd

In [7]:
quandl.ApiConfig.api_key = "x6fVzQf8o1joCSyhKBoY"
stock_data = quandl.get("NSE/TCS",start_date = "2019-01-01",end_date='2019-01-31')
print(stock_data)

              Open     High     Low    Last    Close  Total Trade Quantity  \
Date
2019-01-01  1896.0  1910.00  1885.0  1905.9  1902.80             1094883.0
2019-01-02  1905.0  1934.45  1900.0  1919.0  1923.30             2100463.0
2019-01-03  1919.0  1944.95  1893.1  1901.0  1899.95             2611668.0
2019-01-04  1900.0  1901.20  1841.0  1882.0  1876.85             4280862.0

            Turnover (Lacs)
Date
2019-01-01         20800.34
2019-01-02         40389.86
2019-01-03         50061.78
2019-01-04         80017.42

In [9]:
dataset = pd.DataFrame(stock_data)

In [10]:
dataset.head()

,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
Date,,,,,,,
2019-01-01,1896.0,1910.00,1885.0,1905.9,1902.80,1094883.0,20800.34
2019-01-02,1905.0,1934.45,1900.0,1919.0,1923.30,2100463.0,40389.86
2019-01-03,1919.0,1944.95,1893.1,1901.0,1899.95,2611668.0,50061.78
2019-01-04,1900.0,1901.20,1841.0,1882.0,1876.85,4280862.0,80017.42